footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--secondary-bgcolor);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer-box__link--adress {
  color: var(--white-clr);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-box__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-box__link:hover,
.footer-box__link:focus {
  color: var(--brand-color);
}

.footer-box__link--contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-box__link--contact:hover,
.footer-box__link--contact:focus {
  color: var(--brand-color);
}

.adress {
  font-style: normal;
  margin-top: 20px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-right: 93px;
}

.footer-box__adress {
  margin-right: 70px;
}

.footer__title {
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.17;
  color: var(--white-clr);
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* foot social miedia */
.footer__social-media--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  color: var(--white-clr);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--transition-timing-func);
  transition: background-color 250ms var(--transition-timing-func);
}

.footer__social-media:not(:last-child) {
  margin-right: 10px;
}

.footer__social-media--link:hover,
.footer__social-media--link:focus {
  background-color: var(--brand-color);
}

.social-media__icon {
  fill: currentColor;
}

.subscribe__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe {
  margin-left: auto;
}

.subscribe__email-field {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: inherit;
  color: var(--white-clr);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color 250ms var(--transition-timing-func);
  transition: border-color 250ms var(--transition-timing-func);
}

.subscribe__email-field:hover,
.subscribe__email-field:focus {
  border-color: var(--brand-color);
}

.subscribe__email-field::-webkit-input-placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  color: var(--footer-placeholder-clr);
}

.subscribe__email-field::-moz-placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--footer-placeholder-clr);
}

.subscribe__email-field:-ms-input-placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--footer-placeholder-clr);
}

.subscribe__email-field::-ms-input-placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--footer-placeholder-clr);
}

.subscribe__email-field::placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  color: var(--footer-placeholder-clr);
}

.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  color: var(--white-clr);
  background-color: var(--brand-color);
  -webkit-transition: -webkit-box-shadow 250ms var(--transition-timing-func);
  transition: -webkit-box-shadow 250ms var(--transition-timing-func);
  transition: box-shadow 250ms var(--transition-timing-func);
  transition: box-shadow 250ms var(--transition-timing-func), -webkit-box-shadow 250ms var(--transition-timing-func);
}

.subscribe__btn:hover,
.subscribe__btn:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.subscribe__btn--desc {
  margin-right: 10px;
  font-weight: 700;
  letter-spacing: 0.06em;
}/*# sourceMappingURL=footer.css.map */