.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $brand-color;
  margin-right: 93px;
}
.logo__main-clr {
  color: $header-textcolor;
}
.logo__second-clr {
  color: $white-clr;
}
