.social-media {
  display: flex;
  justify-content: center;
}
.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  color: $brdr-logo-clients;
  transition: background-color 250ms $transition-timing-func,
    color 250ms $transition-timing-func;
  &:hover,
  &:focus {
    color: $white-clr;
    background-color: $brand-color;
  }
}
.social-media__list:not(:last-child) {
  margin-right: 10px;
}
.social-media__icon {
  fill: currentColor;
}
