/* fonts */
$main-font: "Roboto";
$secondary-font: "Raleway";

/* text-colors */
$brand-color: #2196f3;
$main-textcolor: #757575;
$header-textcolor: #212121;
$footer-placeholder-clr: rgba(255, 255, 255, 0.6);

/* bg-colors */
$main-bgcolor: #e5e5e5;
$secondary-bgcolor: #2f303a;
$add-color: #f5f4fa;
$about-overlay-bg: rgba(47, 48, 58, 0.8);

/* others */
$white-clr: #ffffff;
$items: 3;
$indent: 30px;
$borderclr: #eeeeee;
$border-head-clr: #ececec;
$brdr-logo-clients: #afb1b8;
$transition-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
